<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">prairiewatch.dog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/offenders">Offenders</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/offenses">Offenses</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="text-muted">
  <div class="container py-5">
    <p>Built by <a href="https://github.com/Pepper-Wood">Pepper-Wood</a></p>
  </div>
</footer>
