<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">prairiewatch.dog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><button class="btn btn-primary my-2 my-sm-0">Submit an Offender</button></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/offenses">Offenses</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/b">Blog</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/api">API</a></li>
      <li class="nav-item"><a class="nav-link" href="https://github.com/Pepper-Wood/prairiewatch.dog/wiki">For Developers</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
