<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="display-3">Demand Accountability.</h1>
        <p>Now more than ever, we need a better way to hold people accountable for their past actions. While corporations and powerful individuals rely on the fast pace of the news cycle to drown out any misdemeanors from the public eye, the rest rely on word-of-mouth and the occasional callout post to attempt to hold leaders accountable.</p>
        <p><b>But it doesn't have to be this way</b>. <u>prairiewatch.dog</u> is an in-development browser extension that will keep track of these misdemeanors and remind you of them when you visit a social media profile or a separate website. No editorializing or exaggeration. Just dry facts.</p>
        <hr>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/Pepper-Wood/prairiewatch.dog" role="button">Visit the GitHub project &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <img src="assets/doggo.png" style="width: 100%">
        <p class="text-sm">Prairie dogs use a warning call to signal to their family groups about impending danger.</p>
      </div>
    </div>
  </div>
</div>
