<div class="pwd-jumbotron">
  <div></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1 class="display-5">Demand Accountability.</h1>
        <p>Download the prairiewatch.dog Chrome Extension to look out for offenders tagged on your favorite social media platforms. Make it easier to know who to trust and which bad actors to avoid. Our platform is open source and welcome to contributions.</p>
        <hr>
        <p>
          <a class="btn btn-primary btn-lg" href="https://github.com/Pepper-Wood/prairiewatch.dog" role="button">Visit the GitHub project &raquo;</a>
        </p>
      </div>
      <div class="col-md-8">
        <div class="pwd-hero">
          <a class="pwd-hero-pulse" href="javascript:void(0)" data-tooltip="Profile tagged with 8 offenses, including racism and sexual abuse">
            <img class="pwd-pulse" src="assets/exclamationpoint.svg">
          </a>
          <img class="pwd-hero-screenshot" src="assets/twittermock.png">
        </div>
      </div>
    </div>
  </div>
  <p class="pwd-hero-credits">Front page art by <a href="https://argodeon.com">Argodeon</a></p>
</div>
<div class="container">
  <blockquote class="blockquote">
    <p class="mb-0">What eats the prairie dog? A better question might be <b>"what doesn’t eat a prairie dog, given the chance?"</b></p>
    <footer class="blockquote-footer">Maryland Zoo, <a href="https://www.marylandzoo.org/animal/black-tailed-prairie-dog/">"The Black-Tailed Prairie Dog"</a></footer>
  </blockquote>
  <p>Prairie dogs are highly social and co-operate in large groups to share food and protect their burrow. As primary consumers in the food chain, they are sought after by much larger, dangerous prey. They act together to ensure each others' safety. One or more individual prairie dogs act as a sentinel keeping watch for danger and send out warning calls while the rest of the group stays in their burrows for safety.</p>
  <p>The motif of the prairie dog carries throughout this project. By tracking and tagging people who abuse their power and act without accountability, we can more clearly avoid their platforms and dimish that power. <b>The goal is not to attack offenders but for us as potential victims to be warned and avoid.</b></p>
</div>
